/* #root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
} */
.main-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 12vw;
}
hr.solid {
  border-top: 2px solid #ea445a;
}
section {
  width: 100%;
}
